<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="footer-row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li>Centralized Drug Inventory Management</li>
                        <li>Drug Consumption Monitoring</li>
                        <li>Quality Control and Compliance</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="about.html"><p>For More Information Click Here</p></a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Auṣadhanyāya</h3>
                    <p>The Drug Inventory and Supply Chain Tracking System.</p>
                </div>
            </div>
            <p class="copyright">Auṣadhanyāya © 2024</p>
    </footer>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script> -->