<!-- Slider -->
<section id="Overview">
    <div class="slider">
        <div class="slider-container">
            <div class="slide"><img src="/images/homepage-images/feature1.jpg" alt="images processing"></div>
            <div class="slide"><img src="/images/homepage-images/feature-2.webp" alt="images processing"></div>
            <div class="slide"><img src="/images/homepage-images/feature-3.jpg" alt="images processing"></div>
            <div class="slide"><img src="/images/homepage-images/feature-4.jpg" alt="images processing"></div>
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
        <div class="indicators"></div>
    </div>
</section>