<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auṣadhanyāya</title>
    <link rel="stylesheet" href="/styles/checkin.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <div class="checkin-container">
        <!-- Header -->
        <div>
            <header>
                <div class="logo">
                    <a href="/">
                        <img src="./images/HomeIcon.png" alt="Home Icon">
                    </a>
                    </div>
                <div class="Title">
                    <h1>Auṣadhanyāya</h1>
                </div>
            </header>
        </div>

        <!-- Main Content -->
        <main>
            <div class="content">
                <div class="left-side">
                    <h2>Let's Explore</h2>
                    <p>A modern way to tackle the critical situation <br> related to demand and supply of Medicine.</p>
                    <div class="buttons">
                        <a href="/api/auth/signup">
                                <button class="signup-btn">Sign Up</button>
                        </a>
                    <a href="/api/auth/login">    
                        <button class="login-btn">Log In</button>
                    </a>
                    </div>
                </div>
                <div class="right-side">
                    <img src="./images/Point Person (1).png" alt="India Medicine Image">
                </div>
            </div>
        </main>
        <div id="slogan">
        <p >"स्वास्थ्य सेवाओं में सुधार: दवा की मांग और आपूर्ति को आधुनिक समाधान से संतुलित करें"</p>
    </div>
        <!-- Footer -->
        <%- include('./partials/footer.ejs')%>
</body>
</html>