<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Auṣadhanyāya</title>


    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/homepage.css">
    <link rel="stylesheet" href="styles/slider.css">
    <link rel="stylesheet" href="styles/footer.css">

</head>

<body>
    
    <%- include('./partials/header.ejs') %>

    <div class="head-container">
        <div class="content">
            <h2>We Track ! We Supply !</h2>
            <p>Empowering Healthcare: End-to-End Drug Supply Management</p>
            <a href="checkIn.html">
                <button class="get-started-btn">GET STARTED</button>
            </a>
        </div>
    </div>
    <main>
        <div class="main-content">
            <div class="features">
                <div class="row">
                    <div class="text-col">
                        <h2>ORDER ANYTIME ANYWHERE</h2>
                        <p>ORDER anywhere. Cancel anytime.</p>
                    </div>
                    <div class="img-col">
                        <img src="images/homepage-images/feature1.jpg" alt="Order Anytime Anywhere">
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="img-col">
                        <img src="images/homepage-images/feature-2.webp" alt="Track Your Order">
                    </div>
                    <div class="text-col">
                        <h2>Track Your Order</h2>
                        <p>Track your order delivery progress</p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="text-col">
                        <h2>View Availability & Check Requirement</h2>
                        <p>Check whether the hospital needs the drugs/medicine or not, so that no critical condition
                            occurs.</p>
                    </div>
                    <div class="img-col">
                        <img src="images/homepage-images/feature-3.jpg" alt="View Availability">
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="img-col">
                        <img src="images/homepage-images/feature-4.jpg" alt="Create Profiles Role">
                    </div>
                    <div class="text-col">
                        <h2>Create Profiles As Per Role</h2>
                        <p>Register yourself as per your role in the system and know your responsibility.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <hr>


    <!-- <section id="Overview">
        <div class="slider">
            <h1>OVERVIEW</h1>
            <div class="slider-container">
                <div class="slide"><img src="/images/homepage-images/feature1.jpg" alt="images processing"></div>
                <div class="slide"><img src="/images/homepage-images/feature-2.webp" alt="images processing"></div>
                <div class="slide"><img src="/images/homepage-images/feature-3.jpg" alt="images processing"></div>
                <div class="slide"><img src="/images/homepage-images/feature-4.jpg" alt="images processing"></div>
            </div>
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
            <div class="indicators"></div>
        </div>
    </section> -->


    <%- include('./partials/slider.ejs') %>
    <%- include('./partials/footer.ejs') %>

    <script src="script/slider.js"></script>

</body>

</html>




