* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Title{
    max-width: fit-content;
    margin-left:40%;
    }

    body {
        margin: 0;
        font-family: Arial, sans-serif;
        position: relative;
        
      }
      
      body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./images/checkinBACKGROUND.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.3;
        z-index: -1; 
      }

.checkin-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(163, 207, 247);

    padding: 10px 20px;
}

header .logo img {
    width: 30px;
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
    color: #2D5C9E;
}



main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.left-side {
    max-width: 50%;
}

.left-side h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.left-side p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.buttons {
    display: flex;
    gap: 15px;
}

.signup-btn, .login-btn {
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.signup-btn {
    background-color: #0A407A;
    color: white;
}

.login-btn {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.right-side img {
    max-width: 50%;
    height: auto;
     margin-left: 50%;
}


#slogan{
    margin-left: 30%;
    height: auto;
    padding: 5%;
    color:rgb(0, 0, 0);
    font-size: 12px;
}

/* FOOTER  */